body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  text-align: center;
  padding: 40px;
}

h1 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.inputBox {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 12px;
  width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1e293b;
  color: white;
}

.addBtn {
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  border: none;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: 0.3s;
}

.addBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #38bdf8;
}

.taskList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.taskCard {
  width: 500px;
  background: #1e293b;
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.taskCard:hover {
  transform: scale(1.02);
}

.actions button {
  margin-left: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.doneBtn {
  background: #3b82f6;
  color: white;
}

.deleteBtn {
  background: #ef4444;
  color: white;
}

.done span {
  text-decoration: line-through;
  color: #94a3b8;
}